*{
    box-sizing: border-box;
}

:root {
    --cor-da-barra-de-navegacao: #74D1BD;
    --cor-dos-botoes: black;
    --background-botoes: #bafff1;
    --background-barra-lateral: #559486;
    --backgroud-projetos-2-tela: #74D1BD;
}

html{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 87.5;
}

body{
    margin: 0;
    background-image: url("../img/img-fundo.svg");
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
}

.container{
    max-width: 1920px;
    width: 100%;
}

/* ESTILIZANDO A PARTE DO HEADER*/
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/* EDITANDO A NAB-BAR DO SITE*/
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: var(--cor-da-barra-de-navegacao);
    background-size: contain;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.nav-container {
    width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}

#logo{
    height: 50%;
}

/*PARTE AONDE FICA OS BOTOES DO NAVEGADOR*/
.nav-container ul {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 650px;
    gap: 20px;
}

.nav-container li {
    list-style: none;
}

.nav-container li a{
    text-decoration: none;
    color: var(--cor-dos-botoes);
    background-color: var(--background-botoes);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;

}

.nav-container li a:hover {
    background-color: black;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    transition: 300ms;
}

/*A IMAGEM DO BACKGROUND PRA VERSÃO MOBILE*/
#logo-mobile {
    display: none;
}

/*PARA ADAPTAR OS BOTÕES PARA O LAYOUT PRO CELULAR*/ 
@media screen and (max-width: 600px){
    
    
}
/*BACKGROUDN DA PRIMEIRA TELA*/
#main-banner {
    display: flex;
    height: 900px;
    flex-flow: row wrap;
    margin-top: 100px;
    max-width: 50%;
    padding: 25px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
 h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 80px;
 }

 p {
    margin-bottom: 10px;
 }

@media screen and (max-width:1024px) {
    #main-banner {
        max-width: 100%;
        text-align: justify;
        align-items: flex-start;
        height: 600px;
        font-weight: 400;
    }

    #logo-mobile {
        display: block;
        max-width: 35%;
        margin-left: 35%;
    }
}

/*SEGUNDA PAGINA DO SITE*/
.segunda-pagina {
    margin-top: 10px;
    background-color: white;
}

.subtitulo {
    margin-top: 150px;
    font-size: 80px;
    text-align: center;
    font-weight: 600;
}

.paragrafo{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.Div-Pai {
    display: flex;
    height: 600px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.Div-Filho {
    background-color: var(--backgroud-projetos-2-tela);
    border: 1px solid black;
    margin: 5px;
    padding: 180px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



